.app {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #111;
  color: white;
}

.nav-links a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: #f4f4f4;
}

.hero button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

/* PRODUCTS */
.products {
  padding: 40px;
  text-align: center;
}

.grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  padding: 20px;
  border: 1px solid #ddd;
  width: 150px;
  border-radius: 8px;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  background: #111;
  color: white;
}